# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vite build
dist/
.cache/
.vite/

# Editor & OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log
*.tmp

# Env & secrets
.env
.env.local
.env.*.local

# Render/Deploy
.vercel/
.netlify/
.render/

# Backup & export
*.csv
*.json
*.bak
*.zip
*.tar
*.gz
